.kanban-board {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.phases-container {
  display: flex;
  overflow-x: auto;
}

.add-phase {
  margin-bottom: 20px;
}

.add-phase input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-phase button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-phase button:hover {
  background-color: #45a049;
}

.phase-column {
  flex: 0 0 auto; /* Allow phases to shrink and grow as needed */
  background-color: #f4f4f4;
  padding: 10px;
  margin-right: 20px;
  border-radius: 8px;
  min-width: 250px; /* Set a minimum width for each phase column */
}

.phase-column:last-child {
  margin-right: 0; /* Remove right margin from the last column */
}

.phase-column h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.task-list {
  min-height: 100px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.task-list .task-item {
  padding: 8px 12px;
  margin-bottom: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-list .task-item:last-child {
  margin-bottom: 0;
}

.delete-phase-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-phase-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.delete-phase-modal-content h2 {
  margin-top: 0;
}

.delete-phase-modal-content select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delete-phase-modal-content button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-phase-modal-content button:hover {
  background-color: #d32f2f;
}

.search-container {
  position: relative;
  margin-bottom: 20px;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px 20px;
}

.search-input {
  width: 100%;
  border: 1px solid #00000000;
  font-size: 16px;
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.clear-button:hover {
  color: red;
}
